div{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 20px;
    border-radius: 60%;
    left: 40px;
    animation:anime 3s ease-in 1s infinite alternate;
}
@keyframes anime{
     0%{background-color: blue;
    top: 20px;}
     50%{background-color: yellow;}
    100%{background-color: blueviolet;
    left: 400px;}
}