#box1 {
  background-color: red;
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image:url("./thor.jpg" );
  background-size: cover;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
}
#box3 {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
}
