body {
  text-align: center;
}
.container {
 height: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-content: start;
}
#box1 {
 
  
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid black;
}
#box2 {
   
  display: inline-block;
  border: 2px solid black;
  background-color: rgba(0, 0, 255, 0.5);
}
#box3 {
   height: 150px;
  width: 150px;
  display: inline-block;
  border: 2px solid black;
  background-color: rgba(0, 255, 0, 0.5);
}
#box4 {
   height: 150px;
  width: 150px;
  display: inline-block;
  background-color: pink;
  border: 2px solid black;
}
#box5 {
   height: 150px;
  width: 150px;
  display: inline-block;
  background-color: orangered;
  border: 2px solid black;
}
