* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1rem;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgb(31, 21, 21);
}
.item {
  grid-column: 1;
  background-color: rgb(109, 109, 203);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  .container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .item1 {
    grid-column: 1/4;
  }
  .item2 {
    grid-row: 2/4;
  }
  .item3 {
    grid-column: 2/4;
  }
  .item4 {
    grid-column: 2/3;
  }
  .item5 {
    grid-column: 3/4;
  }
  .item6 {
    grid-column: 1/4;
  }
}
