h1{
    text-align: center;
}
#para1{
    text-decoration: blue solid underline;
    line-height: 2px;
}
a{
    text-decoration: none;
}
#para2{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif
}
