#amazon{
    background-image: url("./amazon.jpg");
    background-size: cover;
    height: 55px;
    width: 70px;
   
    
}
#Container{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

a{
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}
