#container{
    height: 400px;
    width: 800px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#item{
    background-color: red;
    border: 2px solid black;
    align-self: self-start;

}