div{
    border-radius: 50%;
    border: 2px solid white;
    border-top: 2px solid blue;
    animation: func 2s linear infinite ;
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    top: 40px;
    left: 300px;
}
@keyframes func{
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}