* {
  margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-logo {
  width: 100px;
  height: 50px;
}
.logo {
  background-image: url("./amazon_logo.png");
  background-size: cover;
  width: 100px;
  height: 50px;
}
.border {
  border: 1.5px solid transparent;
  padding:5px 5px 5px 5px
}
.navbar-logo{
  padding:0px 5px 5px 5px;
}
.search{
  padding:0px;
}
.border:hover {
  border: 1.5px solid white;
}
.address {
  color: white;
}
.icon {
  display: flex;
  align-items: center;
}
#deliver {
  font-size: 12px;
  color: #cccccc;
}
#India {
  font-size: 14px;
  font-weight: bold;
}
.search {
  display: flex;
  background-color: rgb(239, 187, 65);
  width: 620px;
  height: 40px;
  border-radius: 4px;
  margin-left: 15px;
  justify-content: space-evenly;
}
input {
  width: 100%;
  font-size: 1rem;
}
.search-select {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50px;
  text-align: center;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #febd68;
  color: #0f1111;
}
.hello {
  color: white;
  font-size: 12px;
}
.h1 {
  display: flex;
  font-size: 14px;
}
.list-select {
  background-color: #0f1111;
  border: none;
  color: #e6e6e6;
}

#p1 {
  font-size: 12px;
}
#p2 {
  font-size: 14px;
}
.returns {
  color: white;
}
.Cart {
  color: white;
  display: flex;
  font-size: 1rem;
  align-items: end;
}
.Cart i {
  font-size: 30px;
}
.navbar2 {
  height: 39px;
  background-color: #222f3d;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Text {
  width: 65%;
}
.Text p {
  display: inline-block;
  margin: 10px;
}
.All {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}
#All i {
  font-size: 1rem;
}
.Deals {
  font-weight: 700;
}
.hero {
  background-image: url("./hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.disclaimer {
  height: 40px;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}
.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  flex-wrap: wrap;
}
.box {
  height: 400px;
  width: 23%;

  padding: 20px 0px 15px ;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-img {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-size: cover;
}
.panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel2{
    height: 330px;
    background-color: #222f3d;
    color: white;   
    display: flex;
    justify-content: space-evenly;
}
.get{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
li{
    margin-top: 10px;
    list-style-type: none;
    font-size: 14px;
    text-align: left;
}
.panel3{
    display: flex;
    justify-content: center;
    height: 74px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    align-items: center;
   
}
.image{
     background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 110px;
}
.panel4{
    height: 78px;
    text-align: center;
    background-color: #0f1111;
    color: white;
    padding-top: 25px;
    flex-direction: column;
    font-size: 0.7rem;
}
.cpy{
    padding-top: 5px;
}